#container {
    height: 100vh;
    width: 100vw;
    background-color: #cbdadd;
    /* background-color: #4791a2; */
    display: flex;
    position: relative;
}
.menu {
    background-color: white;
    width: 160px;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 3px #0003032d;
    position: relative;
    z-index: 2;
}
.menu-top,
.menu-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__user-name {
    padding-top: 30px;
    font-size: 13px;
    color: rgb(137, 137, 137);
    margin-bottom: 100px;
    text-align: left;
    line-height: 13px;
}
.logo {
    transform: rotate(-90deg);
    font-size: 23px;
    font-family: "DM Sans", sans-serif;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 1.2px;
}
.color-accent {
    color: #011eff;
    color: #4dc8f1;
    font-size: 28px;
    font-weight: 700;
}
.network {
    background-color: #f0f0f3;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.network > li {
    font-size: 12px;
    font-weight: 700;
    margin: 4px 0;
    color: rgb(130, 130, 130);
}
.new-category {
    margin: 10px 0;
}
.new-category ion-icon {
    font-size: 40px;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-bar {
    display: flex;
    justify-content: flex-end;
    padding-top: 28px;
    padding-right: 270px;
    /* background-color: pink; */
    width: 100%;
    /* text-transform: uppercase; */
    height: 40px;
}
.top-bar .logout {
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    outline: none;
    background: none;
    border: none;
}
