.activity-container {
    width: 70vw;
}
.charts-area {
    max-width: calc(100vw - 160px);
    height: calc(100vh - 210px);
    padding: 35px;
    padding-right: 70px;
    /* background-color: rgb(238, 180, 180); */
}
.nav-buttons {
    display: flex;
    margin-bottom: 30px;
}
.nav-buttons li {
    background-color: rgb(148, 214, 214);
    background-color: rgb(154, 177, 177);
    margin: 0 20px;
    padding: 2px 15px;
}

.sleep {
    width: 100%;
    height: 100%;
    /* background-color: PaleVioletRed; */
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.line {
    /* height: 500px; */
    /* background-color: #fff; */
}
.bar-don-wrapper {
    /* background-color: #66cdaa; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bar {
    /* width: 720px; */
}
.doughnut {
    /* width: 500px; */
}
