.reg-login {
    border-radius: 0 3px 3px 0;
    background-color: #f0f4fd;
    background-color: #cbdadd;
    padding: 80px;
    padding-bottom: 50px;
    padding-top: 100px;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.login__wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.login-form__container {
    width: 300px;
}
.explanation {
    font-size: 14px !important;
    text-align: center;
    color: rgba(108, 132, 135, 0.789);
}
.login_input {
    width: 300px;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 3px solid black;
}
.login_input::placeholder {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: rgba(108, 132, 135, 0.789);
    font-weight: 100;
}
/* .reg-login h1 {
    font-family: "Poppins", sans-serif;
    font-family: "DM Sans", sans-serif;
    color: #4b54e1;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 700;
} */
.reg-login p {
    /* font-family: "Poppins", sans-serif; */
    font-size: 12px;
}
.reg-login h1 {
    font-family: "Poppins", sans-serif;
    font-family: "DM Sans", sans-serif;
    letter-spacing: -1px;
    color: #4b54e1;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    background-color: red;
    background-color: #e5e8f0;
}
.login-link {
    display: inline;
    text-align: center;
}
.login-link,
.login-link > a {
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}
.no-account {
    width: 180px;
    text-align: center;
}

.login-link a {
    transform: color 0.3s linear;
    margin-left: 10px;
}
.login-link a:hover {
    color: #009bce;
    transform: color 0.3s linear;
}
