@import "./_effects.css";
@import "./custom-form-input.css";
@import "./login-registration.css";
@import "./charts.css";
@import "./tracking-form.css";
@import "./activities-menu.css";
@import "./sleep.css";
@import "./app.css";
@import "./stats-and-card.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
a {
    text-decoration: none;
    color: black;
    margin: 0;
}
li {
    list-style: none;
    margin: 0;
}
.dark > a {
    color: #f0f4fd;
}

body {
    height: 100vh;
    background-color: #dbeafa;
    background-color: #5961dd;
    background-color: #7c84e7;
    background-color: #bfd0e8;
    background-color: #4b54e1;
    background-color: #202133;
    background-color: #cbdadd;
    background-color: rgb(148, 207, 214);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.header {
    position: relative;
}
.accent {
    color: #4dc8f1;
    position: absolute;
    top: 70px;
    right: 100px;
}
.welcome {
    height: 650px;
    width: 1100px;
    background-color: #e1e9fe;
    background-color: white;
    display: grid;
    grid-template-columns: 1.15fr 1fr;
    border-radius: 5px;
}
h2 {
    font-family: "Poppins", sans-serif;
    /* font-family: "DM Sans", sans-serif; */
    font-size: 90px;
    line-height: 80px;
}
h4 {
    font-family: "Poppins", sans-serif;
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    margin-top: 40px;
    line-height: 25px;
}
h5,
h5 > a {
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: #61c0df;
    font-family: "Poppins", sans-serif;
}
#unsplash-link,
#unsplash-link > a {
    font-size: 9px;
    text-align: right;
    color: black;
}
.intro {
    border-radius: 3px 0 0 3px;
    padding: 50px;
    padding-top: 170px;
    padding-bottom: 30px;
    background-color: #b0e3f5d7;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background: linear-gradient(#a5c5ecbf, #b0cff5d7, #a5c5ecbf),
        url("https://images.unsplash.com/photo-1427384906349-30452365b5e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80"); */

    background-position: right;
}
